/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --midgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;
  --blue: #2A7DFA;

  /* old TagHeart colors */
  /* --lightblue: #B8D4FF;
  --green: #B9D99C;
  --purple:#CAB8FF;
  --red: #D99C9C;
  --pink: #F5CCEA;
  --orange: #F9D142;
  --yellow: #F8E963;
  --midblue: #99C2FF;
  --bluegrey: #E6F0FF;
  --darkblue: #699FFF; */

  /* TagHeart colors */
  --highlighterDarkPink: #F58DCC;
  --highlighterPink: #F9A8D3;
  --highlighterRed: #f9a7aa;
  --highlighterOrange: #F9B783;
  --highlighterYellow: #FAF983;
  --highlighterGreen: #AAF984;
  --highlighterTurquoise: #81E1C9;
  --highlighterBlue: #8DDFF7;
  --highlighterDarkBlue: #8DC0F9;
  --highlighterViolet: #D38EF9;
  --PinkBlush: #FAE9F1;
  --CreamyBlush: #F8E7E0;
  --MilkyYellow: #F4EFAE;
  --HintOfMint: #E9F6ED;
  --TouchOfTurquoise: #DEF3F6;
  --LilacHaze: #F2E7F8;



  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;

  background-color: #fafbf5;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flexRow{
  display: flex;
  flex-direction: row;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineFlex {
  display: inline-flex;
}

.u-flexStart{ 
  align-items: flex-start;
}

.u-flexWrap{
  flex-wrap: wrap;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-margin-xs{
  margin: var(--xs);
}

.u-margin-s{
  margin: var(--s);
}

.u-editPen{
  height: 45vh;
}
