.AllEntries-iconContainer{
    width: 40px;
    height: 40px;
    padding: var(--xs);
    margin: var(--m);
}

.AllEntries-iconSelected{
    /* background: var(--bluegrey); */
    border: 2px solid black;
    box-sizing: border-box;
}

.AllEntries-iconUnselected{
    background: var(--background-color);
    border: 2px solid  var(--background-color);
    box-sizing: border-box;
}

.AllEntries-icon{
    width: 30px;
    height: 30px;
}

.AllEntries-date{
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    /* text-transform: uppercase; */
    
    margin: var(--m);
    color: var(--midblue);
}

.AllEntries-addBox{
    width: 1192px;
    height: 47px;
    background: var(--bluegrey);
    box-shadow: 0px var(--xs) var(--xs) var(--midblue);
    border-radius: 15px;
    margin: var(--m) var(--s);
}

.AllEntries-add{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #888383;
}

.AllEntries-addImg{
    width: 244px;
    height: 243px;
    background: var(--bluegrey);
    filter: drop-shadow(0px var(--xs) var(--xs) rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    margin: var(--m);
}

.AllEntries-happySun{
    display: flex;
    height: 4vh;
    padding-right: 5vw;
}

.AllEntries-border{
    border: .25vw;
}
.AllEntries-editPen{
    height: 18vh;
    transform: rotate(-160deg);
    padding-left: 5vw;
}

.AllEntries-Header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}