/* Overall */
.Analysis-header{
    color: var(--darkblue);
    flex: 1;
    padding-left: 2%;
}
    /* Top Section */
    .Analysis-wordGraphWrapper{
        display: flex;
        flex-direction: row;
        font-family: Alegreya;
        padding-left: 3%;
        padding-right: 3%;
    }

    .Analysis-graphContainer{
        display: flex;
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        background: var(--white);
        box-shadow: 0px var(--xs) var(--xs) var(--midblue);
        border-radius: 11px;
        margin: var(--m) var(--s);
        padding: 5px 20px;
        height: 437px;
    }



    /* Mid Section */
    .Analysis-trackerAvgBPM{
        display: flex;
        padding-left: 3%;
        padding-right: 3%;
        justify-content: space-evenly;
    }
        
        .Analysis-moodTracker{
            flex: 1;
        }

        .Analysis-AvgHeartRate{
            flex: 1;
        }

    /* Bottom Section */
    .Analysis-disclaimer{
        display: flex;
        opacity: 80%;
        font-weight: 600;
        margin: 2%;
        bottom: -1;
        position: absolute;
    }