

.HomePage-editPen{
    display: flex;
    margin: 2%;
}

.HomePage-container{
    display: flex;
    margin-left: 8%;
    margin-right: 10%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
}

.HomePage-button{
  max-width: 100%;
  height: auto;
}


.HomePage-journalPic{
  position: absolute;
  top: 12%;
  width: 39%;
  height: 90%;
  left: 35%;
  z-index: -5;
  padding: 0px;
  overflow-x: hidden; 

  background: url(../../public/images/LeatherJournal.svg);
  background-repeat: no-repeat;
}

.HomePage-name{
position: absolute;
flex-wrap: wrap;

overflow-wrap: wrap;

font-family: Alegreya Sans;
font-style: normal;
font-weight: normal;
font-size: 12vh;
line-height: 14vh;
width: 100%;
text-align: center;
z-index: 5;

color: #FFFFFF;
}

