.Locked-entire{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, #B8D4FF, #F5CCCC);
    background: -moz-linear-gradient( to left top, #B8D4FF, #F5CCCC);
    background: -ms-linear-gradient( to left top, #B8D4FF, #F5CCCC);
    background: -o-linear-gradient( to left top, #B8D4FF, #F5CCCC);
    background: linear-gradient( to left top, #B8D4FF, #F5CCCC);
}

/* .Locked-google{
    
} */

.Locked-header{
    margin: 5vh;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
}

.Locked-loginButton{
    justify-content: center;
/*     height: 140px;
    width: auto; */
    
}

.Locked-logo{
    justify-content: center;
    padding: 2vh;
    width: auto;
}

.Locked-container{
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  rgba(230,240,255, 0.7);
    box-shadow: 0px var(--xs) var(--xs) var(--lightblue);
    border-radius: 15px;
    margin: var(--m) var(--s);
}

.Locked-welcome{
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
}