.Locked-journal{
  max-width: 100%;
  height: auto;
}


.Locked-journalPic{
  position: absolute;
  top: 12%;
  width: 39%;
  height: 90%;
  left: 35%;
  z-index: -5;
  padding: 0px;
  overflow-x: hidden; 

  background: url(https://storage.googleapis.com/tagheart/LeatherJournal.svg);
  background-repeat: no-repeat;
}

.Locked-name{
position: absolute;
flex-wrap: wrap;

overflow-wrap: wrap;
text-shadow:-3px -3px rgba(0, 0, 0, .2);
font-family: Alegreya Sans;
font-style: normal;
font-weight: 700;
font-size: 12vh;
line-height: 35vh;
text-align: center;

z-index: 10;
text-decoration: none;

color: #fafbf5;
}


.Locked-Journal {
  transform-style: preserve-3d;
  position: absolute;
  left: 50%;
  width: 40vw;
  height: 50vw;
  cursor: pointer;
  backface-visibility: visible;
  padding: 0;
  margin: 0;
}

.Locked-front, .Locked-back, .Locked-page1, .Locked-page2, .Locked-page3, .Locked-page4, .Locked-page5, .Locked-page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3%;
  left: 0;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  background-repeat: no-repeat;
}

.Locked-front{
    background-image: url(https://storage.googleapis.com/tagheart/frontLeatherCover.svg);
    background-size: 100%;
}
.Locked-back{
  background-image: url(https://storage.googleapis.com/tagheart/backLeatherCover.svg);
  background-size: 100%;

}

.Locked-front, .Locked-page1, .Locked-page3, .Locked-page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.Locked-back, .Locked-page2, .Locked-page4, .Locked-page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.Locked-page1, .Locked-page2 { 
  background: #efefef;
}

.Locked-page3 {
  background: #f5f5f5;
}

.Locked-page4 {
  background: #f5f5f5;
}

.Locked-page5 {
  /* background: #fafafa; */
  background-image: url(https://storage.googleapis.com/tagheart/clickHere.svg);
  background-size: 100%;
}

.Locked-page6 {
  /* background: #fdfdfd; */
  background-image: url(https://storage.googleapis.com/tagheart/learnMore.svg);
  background-size: 100%;
}

.Locked-Journal:hover .Locked-front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.Locked-Journal:hover .Locked-page1 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.Locked-Journal:hover .Locked-page2 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.Locked-Journal:hover .Locked-page3 {
  transform: rotateY(-140deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.Locked-Journal:hover .Locked-page4 {
  transform: rotateY(-40deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.Locked-Journal:hover .Locked-page5 {
  transform: rotateY(-130deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.Locked-Journal:hover .Locked-page6 {
  transform: rotateY(-50deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.Locked-Journal:hover .Locked-back {
  transform: rotateY(-20deg) scale(1.1);
}