.MoodTracker-container{
    width: 100vw;
    height: 67vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8%;

    background-image: url(https://storage.googleapis.com/tagheart/MoodTrackerTitle.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 50%;
    background-position-y: 70%;
}


.MoodTracker-Hearts{
    width: 80%;
    height: 80%;
    display: inline-grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw ;
    grid-template-rows: 16vw 16vw;
}

.MoodTracker-Heart{
    margin: 1.6%;
}

.blackHeart{
    transform: rotate(-3deg);
}

.happyBlueHeart{
    transform: rotate(-9deg);
}

.greenHeart{
    transform: rotate(8deg);
}

.redHeart{
    transform: rotate(-9deg);
}

.greyHeart{
    transform: rotate(4deg);
}

.purpleHeart{
    transform: rotate(10deg);
}

.brownHeart{
    transform: rotate(-4deg);
}

.pinkHeart{
    transform: rotate(6deg);
}

.orangeHeart{
    transform: rotate(-7deg);
}

.yellowHeart{
    transform: rotate(7deg);
}

.sadBlueHeart{
    transform: rotate(-3deg);
}
