.MoodTracker-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.MoodTracker-easel{
    background-image: url(https://storage.googleapis.com/tagheart/CanvasPalette.svg);
    background-repeat: no-repeat;
    position: absolute;

    display: flex;
    justify-content: center;
    position: absolute;
    height: 130%;
    width: 50%;
}

.MoodTracker-canvas{
    position: absolute;
    height: 80vh;
}

.MoodTracker-brush{
    position: absolute;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    left: 55%;
    top: -4%;
}


.MoodTracker-Hearts{
    width: 80%;
    height: 80%;
    display: inline-grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 12vw 12vw 12vw 12vw ;
    grid-template-rows: 14vw 14vw 14vw;
    margin: 2vh;
}

.MoodTracker-Heart{
    margin: 1.4%;
}

.blackHeart{
    transform: rotate(-3deg);
    height: 40%;
}

.happyBlueHeart{
    transform: rotate(-9deg);
}

.greenHeart{
    transform: rotate(8deg);
}

.redHeart{
    transform: rotate(-9deg);
}

.greyHeart{
    transform: rotate(4deg);
}

.purpleHeart{
    transform: rotate(10deg);
}

.brownHeart{
    transform: rotate(-4deg);
}

.pinkHeart{
    transform: rotate(6deg);
}

.orangeHeart{
    transform: rotate(-7deg);
}

.yellowHeart{
    transform: rotate(7deg);
}

.sadBlueHeart{
    transform: rotate(-3deg);
}

.AllEntries-moodDropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .AllEntries-moodHidden {
    display: none;
  }
  
  .AllEntries-MOOD:hover + .AllEntries-moodHidden {
    display: block;
  }