.notFound-Image {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;

    padding-top: 100%;

    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;

    background-size: 100%;


    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://storage.googleapis.com/tagheart/404_not_found.png);
}