:root{
    --blue: #B8D4FF;
    --green: #B9D99C;
    --purple:#CAB8FF;
    --red: #D99C9C;
    --pink: #F5CCEA;
    --orange: #F9D142;
    --yellow: #F8E963;
    --dropshadow: #99C2FF;
    --boxColor: #FFFFFF;
    --border: #E6F0FF;

    --boxHeight: 120px;
}

.SingleEntry-date{
    width: 101px;
    height: var(--boxHeight);
    
    background-color: var(--blue);
    border: 1px solid var(--border);
    box-sizing: border-box;
    margin: 16px;
    border-radius: 20px;   
    padding: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.SingleEntry-num{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    margin: 8px;

    color: black;
}

.SingleEntry-container{
    width: 1052.82px;
    height: var(--boxHeight);

    background-color: var(--boxColor);
    border-color: black;
    box-shadow: 0px 4px 4px var(--dropshadow);
    margin: 16px;
    border-radius: 15px;
    padding: 0px 8px;
}

.SingleEntry-title{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    margin: 8px;
}

.SingleEntry-content{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 8px;

    color: black;
}