.Notebook-page{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: linear-gradient(#ffffff, #fafbf5);
}

