.HeartRateContainer-webcam{
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeartRateContainer-text{
   display: flex;
   justify-content: center;
   font-size: medium;
}

.center { margin: 0 auto; width: 100%; }

.HeartRateContainer-div{
    width: 100%;
}