.NavBar-container {
    padding: var(--s) var(--s);
    background-color: var(--midgrey);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  
  .NavBar-title {
    color: var(--white);
    font-size: 20px;
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: var(--black);
    text-decoration: none;
  }
  
  .NavBar-link:hover {
    color: var(--blue);
  }
  
  .NavBar-link.NavBar-login {
    opacity: 1;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }
  
  .logInOut {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .NavBar-icon{
    margin: 0 var(--s);
  }

  