.SingleEntry-datebox{
    width: 104px;
    height: 120px;
    margin: var(--m) var(--s);
    padding: var(--s); 
    
    background-color: var(--lightblue);
    border: 1px solid var(--bluegrey);
    border-radius: 20px;   
    box-sizing: border-box;
}

.SingleEntry-date{
    font-style: normal;
    font-weight: bold;
    font-size: 110px;
    text-align: left;
    text-transform: uppercase;
    margin: 0px 40px 0px var(--l);

    color: black;
}

.SingleEntry-container{
    max-width: auto;
    width: 1056px;
    /* height: 120px; */
    max-height: fit-content;

    background-color: var(--white);
    border-color: black;
    box-shadow: 0px var(--xs) var(--xs) var(--midblue);
    margin: var(--m) var(--s);
    border-radius: 15px;
    padding: var(--s);
}

.SingleEntry-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    margin: var(--s);
}

.SingleEntry-content{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: var(--s);

    color: black;
}

.SingleEntry-img{
    width: 225px;
    height: 225px;
    object-fit: cover;
    margin: var(--s);
}

.SingleEntry-viewTitle{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    margin: var(--xs);
}

.SingleEntry-titleContainer{
    width: 225px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.SingleEntry-tag{
    font-weight: 600;
    font-size: 13px;
    opacity: 70%;
    text-transform: uppercase;

    display: inline-block;

    border-color: black;
    border-radius: 10px;
    background-color: rgb(170, 232, 188);
    box-shadow: 0px var(--xs) var(--xs) var(--midblue);
    padding: 1px 8px;
    margin: var(--xs);
}

.polaroid {
    background: #fff;
    padding: var(--s);
    border: 1px solid var(--grey);
    margin: var(--m) var(--m) var(--l) var(--m);
    
  }

  .caption {
    font-size: 1.8rem;
    text-align: center;
    /* line-height: 2em; */
  }
  .item {
    display: inline-block;
    filter: grayscale(100%);
    margin: var(--m) var(--m) var(--l) var(--m);
    height: 244px;
  }
  .item:hover {
    filter: none;
    z-index: 2;
  }