.TitleForm-inputBox{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--white);
    box-shadow: 0px var(--xs) var(--xs) var(--midblue);
    border-radius: 11px;
    margin: var(--m) var(--s);
    height: 4vh;
    padding: 0px 20px;
    box-sizing: border-box;
}

input{
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    border: none;

    color: #888383;

}

input:focus{
    outline:none;
}
